.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.testnav{
  color:black!important;
}

.kclogo{
  width:200px!important
}
.MuiToolbar-root{
  background-color: white;
}
.MuiSvgIcon-root{
  color:black
}

.ct{
  margin-top:200px;
  color:black
}

.hero{
  background-image: url(../src/assets/watchherops.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:80vh;
  margin-top: -40px;
  opacity:0.8;
  
}
.hometext{
  color:white;
  font-weight: bold;

}

.who{
  margin-top: 55px; 
  padding: 20px;
  width: 75vw;
  margin-left: 200px;
}

.homecards{
  margin-left: 120px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
